body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    text-shadow: 1px 1px black;
}
h2{
    
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;

}
.container-fluid{
    padding: 3% 15% 7%;
}



 /* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;

}

    /* Download Button */
.download-btn{
    margin: 5% 3% 5% 0;
    box-shadow: 1px 1px black;

}
    /* Title Image */
#title-image{
    position: absolute;
    right: 30%;
    margin: 2.5em 7.5em ;
    width: 47%;
    transform: rotate(25deg);
    
}
    /* SECTION FEATURES */
#features{
    background-color: #fff;
    color:#fff;
    padding: 7% 15%;
    text-align: center;
    position: relative;
    
}
#features h3{
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
#features p{
    color:#8f8f8f;


}
.featurebox{
        padding: 5%;
}
.icons{
    color: #efB172;
    font-size: 4rem;
    margin: 10%;
}
.icons:hover{
    color: #ff4c68;
}


            /* TESTIMONIAL SECTION */

#testimonials{
    color:#fff;
    text-align: center;
    background-color: #ff4c68;
}            
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}

.carousel-item{
    padding: 7% 15%;
}
        /* PRESS */

#press{
    background-color: #ff4c68;
text-align: center;
padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;

}

                /* PRCICING SECTION */

#pricing{

    text-align: center;
    padding:100px;
}

.pricing-coloumn{
        margin: auto;
}
.card{
    margin:auto;
}
#pricing .pcb{
    margin: auto;
    height: 20em;
    padding:3% 2% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



            /* calltoaction Section */
#calltoaction{
    color: #fff;
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
}
#calltoaction h3{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
}
                /* FOOTER SECTION */
#footer{
    padding: 2% 15%;
    text-align: center;
    color:#8f8f8f
}
#footer i{
    padding: 4px;
}
#footer p{
    margin: 7px;
}


@media (max-width: 1340px) {
    #title{
        text-align: center;
    }
    #title-image{
        position: static;
        transform: rotate(0deg);
        size:40%;
    }
    
    
}